@import url('../src/vendor/fonts/fonts.css');

*
{
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root__footer {
  margin-top: auto;
}

.root__modal {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

.root__movie-modal {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 464px) {
  .root__modal {
    bottom: 5px;
    right: 5px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
